{% load static %}
<footer class="site-footer">
  <div class="newsletter-section">
    <div class="newsletter-flex">
    <div class="newsletter-text">
      <h3 class="text-medium">Subscribe to the newsletter</h3>
      <p class="text-sm">Subscribe to receive all the information by email on our latest collections, our products, our fashion shows and our projects.</p>
    </div>
    <form class="newsletter-form">
      <input type="email" placeholder="Email" required>
      <button type="submit">...</button>
      <p class="newsletter-note">
        I agree to receive the JACQUEMUS newsletter to be the first to know about new collections, exclusive product launches, events and services available. By subscribing, I agree to the JACQUEMUS Privacy Policy.
      </p>
    </form>
    </div>
      <div class="footer-column-flex">
      <ul>
        <h4 class="text-sm">Customer Care</h4>
        <li class="text-sm">Contact form</li>
        <li class="text-sm">Register a return</li>
      </ul>
    </div>
    <div class="country-region">
      <h5 class="text-sm"><strong>Country/Region</strong></h5>
      <p class="text-sm">🇦🇱 Albania (EUR) | English ▼</p>
    </div>
  </div>

  <hr class="footer-divider" />

  <div class="footer-links">
    <div class="footer-column">
      <h4 class="text-sm">Legal</h4>
      <ul>
        <li class="text-sm">Legal notice</li>
        <li class="text-sm">Terms of sale</li>
        <li class="text-sm">Privacy policy</li>
        <li class="text-sm">Terms of Use</li>
        <li class="text-sm">Accessibility</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="text-sm">FAQ</h4>
      <ul>
        <li class="text-sm">Account</li>
        <li class="text-sm">Shipping informations</li>
        <li class="text-sm">Orders</li>
        <li class="text-sm">Payments</li>
        <li class="text-sm">Returns & exchanges</li>
        <li class="text-sm">Size guide</li>
        <li class="text-sm">Gift Card</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="text-sm">Company</h4>
      <ul>
        <li class="text-sm">Contact us</li>
        <li class="text-sm">Stores</li>
        <li class="text-sm">Book an appointment in store</li>
        <li class="text-sm">Career</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="text-sm">Follow</h4>
      <ul>
        <li class="text-sm">Instagram</li>
        <li class="text-sm">Facebook</li>
        <li class="text-sm">Tiktok</li>
        <li class="text-sm">X</li>
        <li class="text-sm">Pinterest</li>
      </ul>
    </div>
  </div>
</footer>
