{% load static %}
<footer class="site-footer">
  <div class="newsletter-section">
    <div class="newsletter-flex">
    <div class="newsletter-text">
      <h3 class="text-medium">Subscribe to the newsletter</h3>
      <p class="text-sm">Subscribe to receive all the information by email on our latest collections, our products, our fashion shows and our projects.</p>
    </div>
    <form class="newsletter-form">
      <input type="email" placeholder="Email" required>
      <button type="submit">...</button>
      <p class="newsletter-note">
        I agree to receive the JACQUEMUS newsletter to be the first to know about new collections, exclusive product launches, events and services available. By subscribing, I agree to the JACQUEMUS Privacy Policy.
      </p>
    </form>
    </div>
      <div class="footer-column-flex">
      <ul>
        <h4 class="text-sm"><a href="#">Customer Care</a></h4>
        <li class="text-sm"><a href="#">Contact form</a></li>
        <li class="text-sm"><a href="#">Register a return</a></li>
      </ul>
    </div>
    <div class="country-region">
      <h4 class="text-sm">Country/Region</h4>
      <p class="text-sm">🇦🇱 Albania (EUR) | English ▼</p>
    </div>
  </div>

  <hr class="footer-divider" />

  <div class="footer-links">
    <div class="footer-column">
      <h4 class="text-sm">Legal</h4>
      <ul>
        <li class="text-sm"><a href="#">Legal notice</a></li>
        <li class="text-sm"><a href="#">Terms of sale</a></li>
        <li class="text-sm"><a href="#">Privacy policy</a></li>
        <li class="text-sm"><a href="#">Terms of Use</a></li>
        <li class="text-sm"><a href="#">Accessibility</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="text-sm">FAQ</h4>
      <ul>
        <li class="text-sm"><a href="#">Account</a></li>
        <li class="text-sm"><a href="#">Shipping informations</a></li>
        <li class="text-sm"><a href="#">Orders</a></li>
        <li class="text-sm"><a href="#">Payments</a></li>
        <li class="text-sm"><a href="#">Returns & exchanges</a></li>
        <li class="text-sm"><a href="#">Size guide</a></li>
        <li class="text-sm"><a href="#">Gift Card</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="text-sm">Company</h4>
      <ul>
        <li class="text-sm"><a href="#">Contact us</a></li>
        <li class="text-sm"><a href="#">Stores</a></li>
        <li class="text-sm"><a href="#">Book an appointment in store</a></li>
        <li class="text-sm"><a href="#">Career</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="text-sm">Follow</h4>
      <ul>
        <li class="text-sm"><a href="#">Instagram</a></li>
        <li class="text-sm"><a href="#">Facebook</a></li>
        <li class="text-sm"><a href="#">Tiktok</a></li>
        <li class="text-sm"><a href="#">X</a></li>
        <li class="text-sm"><a href="#">Pinterest</a></li>
      </ul>
    </div>
  </div>

  <hr class="footer-divider" />

  <p class="footer-copy text-sm">©Atelier 2025</p>
</footer>
