{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Atelier</title>
</head>
<body>
<!--     Preloader -->
<!--    {% include 'preloader.html' %}-->
<!--     End of Preloader -->
       <!-- Header -->
    <header class="index-header low-nav">
        {% include 'navbar.html' %}
    </header>
    <!-- End of Header -->
  <section class="product-gallery">
  <!-- Rreshti 1: 2 produkte të mëdha -->
  <div class="product-row row-large">
    {% for product in products1|slice:":2" %}
      <div class="product-item large">
        <a href="#">
          <div class="image-wrapper">
            <img src="{{ product.main_image.url }}" alt="{{ product.name }}">
            <div class="collection-label text-medium">{{ product.collection.collection }}</div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  <!-- Rreshti 2: 4 produkte më të vogla me overlay -->
   <div class="product-row row-small">
  {% for product in products1|slice:"2:" %}
    <div class="product-item small">
     <a href="{% url 'product' product.id %}">
      <div class="image-wrapper">
        <div class="product-slider">
  <!-- Main Image first -->
  {% if product.main_image %}
    <img src="{{ product.main_image.url }}" alt="{{ product.name }}" class="slide-image active">
  {% endif %}
  <!-- Other gallery images -->
  {% for image in product.images.all %}
    <img src="{{ image.image.url }}" alt="{{ product.name }}" class="slide-image">
  {% endfor %}

  <!-- Slider Controls -->
  <button class="prev-btn"></button>
  <button class="next-btn"></button>
</div>
        <div class="color-box">
{% for color_link in product.e_product_color_set.all %}
  <span class="color-square" style="background: {{ color_link.color.code }}"></span>
{% endfor %}
        </div>
        <div class="product-overlay">
          <div style="display: flex; justify-content: space-between; align-items: center;">
          <p class="product-name text-small">{{ product.name }}</p>
          <span class="product-price text-small">{{ product.price|floatformat:0 }} EUR</span>
          </div>
          <div style="display: flex; justify-content: end; align-items: center;">
              <i class="far fa-heart wishlist-icon"
                 data-product-id="{{ product.id }}"
                 style="cursor: pointer; color: #ccc;">
              </i>
        </div>
      </div>
      </div>
     </a>
    </div>
  {% endfor %}
</div>

<!--    &lt;!&ndash; Rreshti 1: 2 produkte të mëdha &ndash;&gt;-->
<!--  <div class="product-row row-large">-->
<!--    {% for product in products2|slice:":2" %}-->
<!--      <div class="product-item large">-->
<!--        <a href="#">-->
<!--          <div class="image-wrapper">-->
<!--            <img src="{{ product.main_image.url }}" alt="{{ product.name }}">-->
<!--            <div class="collection-label text-medium">{{ product.collection.collection }}</div>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    {% endfor %}-->
<!--  </div>-->
<!--  &lt;!&ndash; Rreshti 2: 4 produkte më të vogla me overlay &ndash;&gt;-->
<!--  <div class="product-row row-small">-->
<!--  {% for product in products2|slice:"2:" %}-->
<!--    <div class="product-item small">-->
<!--    <a href="{% url 'product' product.id %}">-->
<!--      <div class="image-wrapper">-->
<!--        <div class="product-slider">-->
<!--  &lt;!&ndash; Main Image first &ndash;&gt;-->
<!--  {% if product.main_image %}-->
<!--    <img src="{{ product.main_image.url }}" alt="{{ product.name }}" class="slide-image active">-->
<!--  {% endif %}-->
<!--  &lt;!&ndash; Other gallery images &ndash;&gt;-->
<!--  {% for image in product.images.all %}-->
<!--    <img src="{{ image.image.url }}" alt="{{ product.name }}" class="slide-image">-->
<!--  {% endfor %}-->

<!--  &lt;!&ndash; Slider Controls &ndash;&gt;-->
<!--  <button class="prev-btn"></button>-->
<!--  <button class="next-btn"></button>-->
<!--</div>-->
<!--        <div class="color-box">-->
<!--{% for color_link in product.e_product_color_set.all %}-->
<!--  <span class="color-square" style="background: {{ color_link.color.code }}"></span>-->
<!--{% endfor %}-->
<!--        </div>-->

<!--        <div class="product-overlay">-->
<!--          <p class="product-name text-small">{{ product.name }}</p>-->
<!--          <span class="product-price text-small">{{ product.price|floatformat:0 }} EUR</span>-->
<!--        </div>-->

<!--      </div>-->
<!--    </a>-->
<!--    </div>-->
<!--  {% endfor %}-->
<!--</div>-->
</section>
       <!-- Footer -->
       {% include 'footer.html' %}
        <!-- End of Footer -->
<div class="shopping-cart-modal" id="cartModal" style="display:none;">
  {% include 'cart_modal.html' %}
</div>

    <!-- Scripts -->
    {% include 'scripts.html' %}
    <!-- End of Scripts -->
<!-- Preloader -->
<script>
    window.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            const loader = document.getElementById("preloader");
            if (loader) {
                loader.classList.add("hide");
            }
        }, 5000);
    });
</script>
<!-- End of Preloader -->
</body>
</html>
